{% extends 'base.html' %}
{% block content %}


        
        <h2> Home for Recipes based on Ingredients found in your Pantry and Refridgerator. </h2>

        <p>Find Recipes that use up Ingredients you have in Your Fridge and Pantry! Enter Ingredients You have at Home to View Recipes that Use Them Up! <br>Services: Family Meal Planning, Healthy Eating, Reduce Food Waste!!
        </p>

        
        <h2 id="?">Enjoy Cooking!</h2>
        
        
    <img src="static/food-image/fish_fruit_nuts.jpg" width="500" height="450">
        
        <p><h3><strong>Step 1:</strong> Find it, Cook it, Eat it!</h3></p>
        
    <p><em>Source: <a href="https://www.allrecipes.com/">All Recipes</a></em></p>
        </form>

 {% endblock %}   
   
