{% extends 'base.html' %}
{% block content %}
      <title>List of recipe tht matches the ingredients</title>
        <style>
        img {
         border: 8px solid #555;
         }
         

        </style>
    </head>
       
        <h2> Dishes you can create using Chicken</h2>
              
<body>
<form action="/recipe">


  <style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
  <div class="row">
  <div class="column">
  <p>
    Click the image for grilled chicken recipes: <a href="https://www.allrecipes.com/recipe/14544/marinated-grilled-chicken-ii/">
    <div class="column">
    <img src="static/food-image/Air-Fryer-Chicken-Breasts.jpg" width = "300" height = "300">
  </div>
  </a>
</p>
</div>
  <p>
  Click the image for butter chicken recipe: <a href="https://www.allrecipes.com/recipe/246717/indian-butter-chicken-chicken-makhani/">
  <div class="column">
    <img src="static/food-image/butterchicken.jpg" width = "300" height = "300">
  </div>
  </a>
</p>
<p>
Click the image for cahun chicken recipe: <a href="https://www.allrecipes.com/recipe/14545/cajun-chicken/">
  <div class="column">
    <img src="static/food-image/Grilled-Sweet-Cajun-Chicken-4.jpg" width = "300" height ="300">
  </a>
  </p>
  </div>
  <p>
Click the image for chicken biryani recipes: <a href="https://www.allrecipes.com/recipe/81562/chicken-biryani-hyderabadi-style">
  <div class="column">
    <img src="static/food-image/Chicken-Biryani.jpg" width = "300" height ="300">
  </a>
  </p>
  </div>
  <p>
Click the image for chicken noodle soup recipes: <a href="https://www.allrecipes.com/recipe/26460/quick-and-easy-chicken-noodle-soup">
  <div class="column">
    <img src="static/food-image/chicken-noodle-soup.jpg" width = "300" height ="300">
  </a>
  </p>
  </div>
</div>
</form>
{% endblock %}