{% extends 'base.html' %}
{% block content %}
        <title>List of recipe tht matches the ingredients</title>
        <style>
        </style>
    </head>
       
        <h2>Here is the list of Dishes you can create using Chicken, Rice, Beans, <br>Cauliflower, Spinach..</h2>
        
        
<body>
<form action="/recipe">
<h4>Chicken, Rice, Cauliflower Recipes</h4>

<body body style="background-color:powderblue;">
<div class="row">
  
    <p>
  Click the image for the chicken recipes: <a href="https://www.allrecipes.com/recipe/14544/marinated-grilled-chicken-ii/">
    <div class="column">
    <img src="static/food-image/Air-Fryer-Chicken-Breasts-9.jpg" width = "300" height="250">
  </a>
</p>
  </div>
  <p>
  Click the image for the rice recipes: <a href="https://www.allrecipes.com/recipe/20791/cashew-raisin-rice-pilaf/">
  <div class="column">
    <img src="static/food-image/Cashew-Raisin-Pulao-2-768x1242.jpg" width = "300" height = "300">
  </div>
  </a>
</p>
<p>
Click the image for the cauliflower recipes: <a href="https://www.allrecipes.com/recipe/239869/butter-roasted-cauliflower/">
  <div class="column">
    <img src="static/food-image/crispy-cauliflower-wings-recipe.jpg" width = "300" height ="250">
  </a>
  </p>
  </div>
</form>
{% endblock %}

        