<!DOCTYPE html>
<html>
    <head>
        <title>List of recipe tht matches the ingredients</title>
        <style>
        </style>
    </head>
       
        <h1 style="background-color:DodgerBlue";>Here is the list of Dishes you can create using Chicken</h1>
        
        
<body>
<form action="/recipe">
<h4>Chicken Recipe</h4>

<body body style="background-color:powderblue;">
<div class="row">
  <div class="column">
    <img src="static/food-image/Air-Fryer-Chicken-Breasts-9.jpg" width = "300" height="250">
  </div>
  <div class="column">
    <img src="static/food-image/ibutterchicken.jpg" width = "300" height = "250">
  </div>
  <div class="column">
    <img src="static/food-image/igarden_market_chicken-.jpg" width = "300" height ="250">
  </div>
</form>
</body>
</html>

        